{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  /* @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  } */
  .brand-banner-button::after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) currentColor, 0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background));
  }

  .brand-banner-button:not([disabled]):hover::after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) currentColor, 0 0 0 calc(var(--buttons-border-width) + 1px) rgba(var(--color-button), var(--alpha-button-background));
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="blog color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %} overflow-hidden">
  <div class="{% if section.settings.show_slides == false %}page-width-desktop {% endif %}isolate{% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section.id }}-padding">
    <slider-component class="slider-mobile-gutter scroll-trigger animate--slide-in">
      <!-- Slider main container -->
      <div class="swiper-{{ section.id }}">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper relative">
          <!-- Slides -->
          {%- for product in collections.brands.products -%}
            {%- liquid
              if product.metafields.custom.brand.value.text_color
                assign text_color = product.metafields.custom.brand.value.text_color
              else
                assign text_color = '#ffffff'
              endif
            -%}
            <div
              class="swiper-slide"
              data-cascade
              data-text-color="{{ text_color }}"
            >
              <div class="relative w-full">
                {%- liquid
                  assign image_class = 'opacity-0 transition-opacity w-full aspect-[0.8] sm:aspect-square md:aspect-[2] lg:aspect-[2.5] object-cover'
                  assign sizes = full_width
                  assign current_brand = request.path | remove_first: '/pages/brand/'
                  assign looped_brand = product.metafields.custom.brand.value.name | downcase | replace: ' ', '-' | replace: '.', ''
                -%}
                {{
                  product.metafields.custom.brand.value.image
                  | image_url: width: 3840
                  | image_tag:
                    width: product.metafields.custom.brand.value.image.width,
                    height: product.metafields.custom.brand.value.image.height,
                    class: image_class,
                    sizes: sizes,
                    widths: widths,
                    onload: 'this.style.opacity=1'
                }}
              </div>

              <div class="absolute top-40 md:top-0 left-0 right-0 bottom-0 !py-4 page-width">
                <div class="!grid md:grid-cols-2" style="color:{{ text_color }}">
                  <div class="brand__description lg:w-3/4 !grid grid-cols-1 gap-4">
                    <p>
                      {{ product.metafields.custom.brand.value.description }}
                    </p>
                    {% if current_brand != looped_brand %}
                      <a
                        href="/pages/brand/{{ product.metafields.custom.brand.value.name | downcase | replace: ' ', '-' | replace: '.', '' }}"
                        class="button button--secondary brand-banner-button justify-self-start !bg-transparent"
                        style="color: currentColor; --color-button-text: currentColor; --color-shadow: currentColor;"
                        >View Brand</a
                      >
                    {% else %}
                      <a
                        href="{{ product.metafields.custom.brand.value.link}}"
                        class="button button--secondary brand-banner-button justify-self-start !bg-transparent"
                        style="color: currentColor; --color-button-text: currentColor; --color-shadow: currentColor;"
                        >Shop Brand</a
                      >
                    {% endif %}

                    <div class="absolute top-auto left-0 right-0 bottom-0 !py-4 page-width z-1">
                      <h2 class="h1 !text-inherit">Our Brands</h2>
                    </div>
                  </div>
                  {% comment %}
                    <div class="brand__links justify-self-end lg:w-3/4">
                      {%- for product in collections.brands.products -%}
                        <h1
                          class=""
                          style="color:{{ text_color }}"
                        >
                          {{ product.metafields.custom.brand.value.name }}
                        </h1>
                      {%- endfor %}
                    </div>
                  {% endcomment %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% assign first_text_color = collections.brands.products
          | map: 'metafields'
          | map: 'custom'
          | map: 'brand'
          | map: 'value'
          | map: 'text_color'
          | first
        %}
        {% if first_text_color %}
          {% assign default_text_color = first_text_color %}
        {% else %}
          {% assign default_text_color = 'white' %}
        {% endif %}
        <div
          class="brand-swiper-pagination z-1 !top-4 !right-0 !grid grid-cols-1 self-start page-width !mr-0 transition-colors"
          style="color: {{ default_text_color }}"
        ></div>
        <style>
          .brand-swiper-pagination {
            position: absolute;
            width: auto !important;
            left: 0 !important;
            @media screen and (min-width: 750px) {
              left: auto !important;
            }
          }
          .swiper-pagination-bullet {
            border-radius: 0;
            width: auto;
            color: inherit;
            opacity: 0.8;
            background: transparent;
            height: fit-content;
          }
          .swiper-pagination-bullet-active {
            opacity: 1;
            background: transparent;
          }
        </style>
      </div>
      <script>     
        {% assign all_brands = collections.brands.products | map: 'metafields' | map: 'custom' | map: 'brand' | map: 'value' | map: 'name' %}
        const brands = {{ all_brands | json }};
        const brandSwiper = new Swiper('.swiper-{{ section.id }}', {
          // Optional parameters
          effect: 'fade',
          fadeEffect: {
            crossFade: true,
          },
          pagination: {
            el: '.brand-swiper-pagination',
            clickable: true,
            renderBullet: function (index, className) {
              return `<span class="${className} h1 ${brands[index].replace(/\s+/g, '-').replace('.','').toLowerCase() == '{{current_brand}}' ? 'order-0' : 'order-1'}">${brands[index]}</span>`;
            },
          },
        });
        brandSwiper.on('slideChange', function () {
          setTimeout(() => {
            document.querySelector('.brand-swiper-pagination').style.color = document.querySelector('.swiper-slide-active').getAttribute('data-text-color');
          }, 100);
        });
        brandSwiper.slideTo(brands.findIndex((item => item.replace(/\s+/g, '-').replace('.','').toLowerCase() === '{{current_brand}}')), 0 , true)
      </script>
      <script>
        document.addEventListener('shopify:section:load', (e) => {
          new Swiper('.swiper-{{ section.id }}', {
            // Optional parameters
            effect: 'fade',
            fadeEffect: {
              crossFade: true,
            },
            pagination: {
              el: '.brand-swiper-pagination',
              clickable: true,
              renderBullet: function (index, className) {
                return `<span class="${className} h1 ${
                  brands[index].replace(/\s+/g, '-').replace('.', '').toLowerCase() == '{{current_brand}}'
                    ? 'order-0'
                    : 'order-1'
                }">${brands[index]}</span>`;
              },
            },
          });
        });
      </script>
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "Brand Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Brand Banner"
    }
  ]
}
{% endschema %}
