{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  /* @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  } */
  .brand-banner-button::after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) currentColor,
      0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background));
  }

  .brand-banner-button:not([disabled]):hover::after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) currentColor,
      0 0 0 calc(var(--buttons-border-width) + 1px) rgba(var(--color-button), var(--alpha-button-background));
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div id="brand-banner" class="brand-banner color-scheme-3 overflow-hidden">
  <div class="{% if section.settings.show_slides == false %}page-width-desktop {% endif %}isolate{% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section.id }}-padding scroll-trigger animate--slide-in py-12 px-3 md:px-0">
    <div class="page-width !grid grid-cols-1 gap-8">
      <h2 class="h1 !text-white">Our Brands</h2>

      <slider-component class="slider-mobile-gutter ">
        <!-- Slider main container -->
        <div class="swiper-{{ section.id }}">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper relative">
            <!-- Slides -->
            {%- for product in collections.brands.products -%}
              {%- liquid
                if product.metafields.custom.brand.value.text_color
                  assign text_color = product.metafields.custom.brand.value.text_color
                else
                  assign text_color = '#ffffff'
                endif
              -%}
              <div
                class="swiper-slide"
                data-cascade
                data-text-color="{{ text_color }}"
              >
                <div class="!grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
                  <div class="!grid grid-cols-1 items-center">
                    {%- liquid
                      assign image_class = 'opacity-0 transition-opacity w-full aspect-square sm:aspect-[4/3] object-cover '
                      assign sizes = full_width
                      assign current_brand = request.path | remove_first: '/pages/brand/'
                      assign looped_brand = product.metafields.custom.brand.value.name | downcase | replace: ' ', '-' | replace: '.', ''
                    -%}
                    {{
                      product.metafields.custom.brand.value.image
                      | image_url: width: 3840, format: 'webp'
                      | image_tag:
                        width: product.metafields.custom.brand.value.image.width,
                        height: product.metafields.custom.brand.value.image.height,
                        class: image_class,
                        sizes: sizes,
                        widths: widths,
                        onload: 'this.style.opacity=1'
                    }}
                  </div>

                  <div class="!grid grid-cols-1 items-center justify-center">
                    <div class="brand__description lg:w-3/4 !grid grid-cols-1 items-center content-center justify-self-center justify-items-center image-with-text__content">
                      <h2 class="image-with-text__heading h1 rte text-center">
                        {{ product.metafields.custom.brand.value.name }}
                      </h2>
                      <div class="image-with-text__text rte body">
                        <p class="text-center">
                          {{ product.metafields.custom.brand.value.description }}
                        </p>
                      </div>

                      {% if current_brand != looped_brand %}
                        <a
                          href="/pages/brand/{{ product.metafields.custom.brand.value.name | downcase | replace: ' ', '-' | replace: '.', '' }}"
                          class="button button--secondary brand-banner-button justify-self-start !bg-transparent mx-auto"
                          >View Brand</a
                        >
                      {% else %}
                        <a
                          href="{{ product.metafields.custom.brand.value.link}}"
                          class="button button--secondary brand-banner-button justify-self-start !bg-transparent mx-auto"
                          >Shop Brand</a
                        >
                      {% endif %}
                    </div>
                    {% comment %}
                      <div class="brand__links justify-self-end lg:w-3/4">
                        {%- for product in collections.brands.products -%}
                          <h1
                            class=""
                            style="color:{{ text_color }}"
                          >
                            {{ product.metafields.custom.brand.value.name }}
                          </h1>
                        {%- endfor %}
                      </div>
                    {% endcomment %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="absolute left-0 md:left-1/2 right-0 top-auto md:top-0 bottom-0">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          {% assign first_text_color = collections.brands.products
            | map: 'metafields'
            | map: 'custom'
            | map: 'brand'
            | map: 'value'
            | map: 'text_color'
            | first
          %}
          {% if first_text_color %}
            {% assign default_text_color = first_text_color %}
          {% else %}
            {% assign default_text_color = 'white' %}
          {% endif %}
          {% comment %}
            <div style="color: {{default_text_color}}">
              <div
                class="brand-swiper-pagination z-1 !top-4 !right-0 !grid grid-cols-1 content-start page-width !mr-0 transition-colors"
              ></div>
            </div>
          {% endcomment %}
        </div>
        <script>
          {% assign all_brands = collections.brands.products | map: 'metafields' | map: 'custom' | map: 'brand' | map: 'value' | map: 'name' %}
          const brands = {{ all_brands | json }};
          const brandSwiper = new Swiper('.swiper-{{ section.id }}', {
            // Optional parameters
            effect: 'fade',
            fadeEffect: {
              crossFade: true,
            },
            loop: true,
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          });
          brandSwiper.on('slideChange', function () {
            setTimeout(() => {
              document.querySelector('.brand-swiper-pagination').style.color = document.querySelector('.swiper-slide-active').getAttribute('data-text-color');
            }, 100);
          });
          brandSwiper.slideTo(brands.findIndex((item => item.replace(/\s+/g, '-').replace('.','').toLowerCase() === '{{current_brand}}')), 0 , true)
        </script>
        <script>
          document.addEventListener('shopify:section:load', (e) => {
            new Swiper('.swiper-{{ section.id }}', {
              // Optional parameters
              effect: 'fade',
              fadeEffect: {
                crossFade: true,
              },
              loop: true,
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
            });
          });
        </script>
      </slider-component>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Brand Banner 2",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Brand Banner 2"
    }
  ]
}
{% endschema %}
