{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  /* @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  } */
  .brand-banner-button::after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) currentColor,
      0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background));
  }

  .brand-banner-button:not([disabled]):hover::after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) currentColor,
      0 0 0 calc(var(--buttons-border-width) + 1px) rgba(var(--color-button), var(--alpha-button-background));
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div
  class="brand-story-banner color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %} overflow-hidden relative aspect-square sm:aspect-[1.3] md:aspect-[1.5] lg:aspect-[2] !bg-[#F3F4F5] !grid grid-cols-1 content-end md:content-start"
  style="--timing-unit: 2s;"
>
  <div
    class="{% if section.settings.show_slides == false %}page-width-desktop {% endif %}isolate{% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section.id }}-padding bg-[#F3F4F5]"
  >
    <div
      id="flower-base"
      class="flower-base relative transform md:!rotate-[calc(var(--mouse-x)_*_-10deg)] transition-transform duration-[calc(var(--timing-unit)_*_6)] ease-out origin-bottom md:blur-[calc(var(--mouse-xy)_*_-3px_+_3px)]  !grid grid-cols-1 justify-self-center opacity-30 -mb-4"
    >
      <img
        id="flower-1"
        src="{{ 'Straits_Chai5.png' | asset_img_url }}"
        srcset="
          {{ 'Straits_Chai5.png' | asset_img_url: '165x' }} 165w,
          {{ 'Straits_Chai5.png' | asset_img_url: '360x' }} 360w,
          {{ 'Straits_Chai5.png' | asset_img_url: '535x' }} 535w,
          {{ 'Straits_Chai5.png' | asset_img_url: '750x' }} 750w,
          {{ 'Straits_Chai5.png' | asset_img_url: '1070x' }} 1070w,
          {{ 'Straits_Chai5.png' | asset_img_url: '1500x' }} 1500w,
          {{ 'Straits_Chai5.png' | asset_img_url: '1780x' }} 1780w,
          {{ 'Straits_Chai5.png' | asset_img_url: '2000x' }} 2000w,
          {{ 'Straits_Chai5.png' | asset_img_url: '3000x' }} 3000w,
          {{ 'Straits_Chai5.png' | asset_img_url: '3840x' }} 3840w
        "
        sizes="100vw"
        class="w-screen h-full object-cover"
        height="2370"
        width="3484"
        alt="Brand Flower Graphic"
      >

      <img
        id="flower-2"
        src="{{ 'Straits_Chai4.png' | asset_img_url }}"
        srcset="
          {{ 'Straits_Chai4.png' | asset_img_url: '165x' }} 165w,
          {{ 'Straits_Chai4.png' | asset_img_url: '360x' }} 360w,
          {{ 'Straits_Chai4.png' | asset_img_url: '535x' }} 535w,
          {{ 'Straits_Chai4.png' | asset_img_url: '750x' }} 750w,
          {{ 'Straits_Chai4.png' | asset_img_url: '1070x' }} 1070w,
          {{ 'Straits_Chai4.png' | asset_img_url: '1500x' }} 1500w,
          {{ 'Straits_Chai4.png' | asset_img_url: '1780x' }} 1780w,
          {{ 'Straits_Chai4.png' | asset_img_url: '2000x' }} 2000w,
          {{ 'Straits_Chai4.png' | asset_img_url: '3000x' }} 3000w,
          {{ 'Straits_Chai4.png' | asset_img_url: '3840x' }} 3840w
        "
        sizes="100vw"
        class="w-screen h-full object-cover absolute top-0 left-0 right-0 bottom-0 transform md:!rotate-[calc(var(--mouse-x)_*_15deg)] transition-transform duration-[calc(var(--timing-unit)_*_6)] ease-out origin-[44%_94%]"
        height="2370"
        width="3484"
        alt="Brand Flower Graphic"
      >
      <img
        id="flower-3"
        src="{{ 'Straits_Chai3.png' | asset_img_url }}"
        srcset="
          {{ 'Straits_Chai3.png' | asset_img_url: '165x' }} 165w,
          {{ 'Straits_Chai3.png' | asset_img_url: '360x' }} 360w,
          {{ 'Straits_Chai3.png' | asset_img_url: '535x' }} 535w,
          {{ 'Straits_Chai3.png' | asset_img_url: '750x' }} 750w,
          {{ 'Straits_Chai3.png' | asset_img_url: '1070x' }} 1070w,
          {{ 'Straits_Chai3.png' | asset_img_url: '1500x' }} 1500w,
          {{ 'Straits_Chai3.png' | asset_img_url: '1780x' }} 1780w,
          {{ 'Straits_Chai3.png' | asset_img_url: '2000x' }} 2000w,
          {{ 'Straits_Chai3.png' | asset_img_url: '3000x' }} 3000w,
          {{ 'Straits_Chai3.png' | asset_img_url: '3840x' }} 3840w
        "
        sizes="100vw"
        class="w-screen h-full object-cover absolute top-0 left-0 right-0 bottom-0 transform md:!rotate-[calc(var(--mouse-x)_*_15deg)] transition-transform duration-[calc(var(--timing-unit)_*_6)] ease-out origin-[55%_40%]"
        height="2370"
        width="3484"
        alt="Brand Flower Graphic"
      >
      <img
        id="flower-4"
        src="{{ 'Straits_Chai2.png' | asset_img_url }}"
        srcset="
          {{ 'Straits_Chai2.png' | asset_img_url: '165x' }} 165w,
          {{ 'Straits_Chai2.png' | asset_img_url: '360x' }} 360w,
          {{ 'Straits_Chai2.png' | asset_img_url: '535x' }} 535w,
          {{ 'Straits_Chai2.png' | asset_img_url: '750x' }} 750w,
          {{ 'Straits_Chai2.png' | asset_img_url: '1070x' }} 1070w,
          {{ 'Straits_Chai2.png' | asset_img_url: '1500x' }} 1500w,
          {{ 'Straits_Chai2.png' | asset_img_url: '1780x' }} 1780w,
          {{ 'Straits_Chai2.png' | asset_img_url: '2000x' }} 2000w,
          {{ 'Straits_Chai2.png' | asset_img_url: '3000x' }} 3000w,
          {{ 'Straits_Chai2.png' | asset_img_url: '3840x' }} 3840w
        "
        sizes="100vw"
        class="w-screen h-full object-cover absolute top-0 left-0 right-0 bottom-0 transform md:!rotate-[calc(var(--mouse-x)_*_25deg)] transition-transform duration-[calc(var(--timing-unit)_*_6)] ease-out origin-[46%_69%]"
        height="2370"
        width="3484"
        alt="Brand Flower Graphic"
      >
      <img
        id="flower-5"
        src="{{ 'Straits_Chai1.png' | asset_img_url}}"
        srcset="
          {{ 'Straits_Chai1.png' | asset_img_url: '165x' }} 165w,
          {{ 'Straits_Chai1.png' | asset_img_url: '360x' }} 360w,
          {{ 'Straits_Chai1.png' | asset_img_url: '535x' }} 535w,
          {{ 'Straits_Chai1.png' | asset_img_url: '750x' }} 750w,
          {{ 'Straits_Chai1.png' | asset_img_url: '1070x' }} 1070w,
          {{ 'Straits_Chai1.png' | asset_img_url: '1500x' }} 1500w,
          {{ 'Straits_Chai1.png' | asset_img_url: '1780x' }} 1780w,
          {{ 'Straits_Chai1.png' | asset_img_url: '2000x' }} 2000w,
          {{ 'Straits_Chai1.png' | asset_img_url: '3000x' }} 3000w,
          {{ 'Straits_Chai1.png' | asset_img_url: '3840x' }} 3840w
        "
        sizes="100vw"
        class="w-screen h-full object-cover absolute top-0 left-0 right-0 bottom-0 transform md:!rotate-[calc(var(--mouse-x)_*_15deg)] transition-transform duration-[calc(var(--timing-unit)_*_6)] ease-out origin-[44%_80%]"
        height="2370"
        width="3484"
        alt="Brand Flower Graphic"
      >
    </div>
  </div>
  <div
    class="absolute top-0 left-0 right-0 bottom-0 !grid grid-cols-1 justify-self-center content-center text-center !font-[Piloti]"
  >
    <span
      class="text-6xl sm:text-8xl 2xl:text-9xl leading-[0.9] transform md:translate-x-[calc(var(--mouse-x)_*_1vw)] md:translate-y-[calc(var(--mouse-y)_*_2vw)] transition-transform duration-[calc(var(--timing-unit)_*_3)] ease-out scroll-trigger animate--slide-in md:blur-[calc(var(--mouse-xy)_*_6px)]"
      style="--animation-order: 1;"
      >THE</span
    >
    <span class="flex items-start justify-center gap-2">
      <span
        class="text-6xl sm:text-8xl 2xl:text-9xl leading-[0.9] transform md:translate-x-[calc(var(--mouse-x)_*_2vw)] md:translate-y-[calc(var(--mouse-y)_*_1vw)] transition-transform duration-[calc(var(--timing-unit)_*_2)] ease-out scroll-trigger animate--slide-in md:blur-[calc(var(--mouse-xy)_*_3px)]"
        style="--animation-order: 2;"
        >ART</span
      >
      <span
        class="text-4xl sm:text-6xl 2xl:text-7xl transform md:translate-x-[calc(var(--mouse-x)_*_1vw)] md:translate-y-[calc(var(--mouse-y)_*_1vw)] transition-transform duration-[calc(var(--timing-unit)_*_3)] ease-out  scroll-trigger animate--slide-in md:blur-[calc(var(--mouse-xy)_*_6px)]"
        style="--animation-order: 3;"
        >AND</span
      ></span
    >
    <span
      class="text-6xl sm:text-8xl 2xl:text-9xl leading-[0.9] transform md:translate-x-[calc(var(--mouse-x)_*_-2vw)] md:translate-y-[calc(var(--mouse-y)_*_3vw)] transition-transform duration-[calc(var(--timing-unit)_*_1)] ease-out scroll-trigger animate--slide-in md:blur-[calc(var(--mouse-xy)_*_3px)]"
      style="--animation-order: 4;"
      >SCIENCE</span
    >
    <span class="flex items-start justify-center gap-2"
      ><span
        class="text-4xl sm:text-6xl 2xl:text-7xl transform md:translate-x-[calc(var(--mouse-x)_*_2vw)] md:translate-y-[calc(var(--mouse-y)_*_1vw)] transition-transform duration-[calc(var(--timing-unit)_*_3)] ease-out scroll-trigger animate--slide-in md:blur-[calc(var(--mouse-xy)_*_6px)]"
        style="--animation-order: 5;"
        >OF</span
      >
      <span
        class="text-6xl sm:text-8xl 2xl:text-9xl leading-[0.9] transform md:translate-x-[calc(var(--mouse-y)_*_2vw)] md:translate-y-[calc(var(--mouse-y)_*_2vw)] transition-transform duration-[calc(var(--timing-unit)_*_3)] ease-out scroll-trigger animate--slide-in md:blur-[calc(var(--mouse-xy)_*_3px)]"
        style="--animation-order: 6;"
        >TEA</span
      >
    </span>
  </div>
  <script>
    // use a script tag or an external JS file
    document.addEventListener('DOMContentLoaded', (event) => {
      gsap.registerPlugin(ScrollTrigger);
      gsap.set('#flower-base', {
        rotation: '10deg',
      });
      gsap.to('#flower-base', {
        scrollTrigger: {
          trigger: '.brand-story-banner',
          start: 'top top',
          end: 'bottom top',
          scrub: 4,
        },
        rotation: '-10deg',
      });
      gsap.to('#flower-2', {
        scrollTrigger: {
          trigger: '.brand-story-banner',
          start: 'top top',
          end: 'bottom top',
          scrub: 4,
        },
        rotation: '-20deg',
      });
      gsap.to('#flower-3', {
        scrollTrigger: {
          trigger: '.brand-story-banner',
          start: 'top top',
          end: 'bottom top',
          scrub: 4,
        },
        rotation: '-15deg',
      });
      gsap.to('#flower-4', {
        scrollTrigger: {
          trigger: '.brand-story-banner',
          start: 'top top',
          end: 'bottom top',
          scrub: 4,
        },
        rotation: '-25deg',
      });
      gsap.to('#flower-5', {
        scrollTrigger: {
          trigger: '.brand-story-banner',
          start: 'top top',
          end: 'bottom top',
          scrub: 4,
        },
        rotation: '-5deg',
      });
    });
  </script>
</div>

{% schema %}
{
  "name": "Brand Story Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Brand Story Banner"
    }
  ]
}
{% endschema %}
